


<!-- 
    
    ***** base html หน้า home ตัวเก่า *****

 -->





<!DOCTYPE html>
<html>
    <head>
        <title>Hosital Bed Booking</title>
        <link rel="stylesheet" type="text/css" href="static\home.css">
    </head>

    <body>
        <!-- nav -->
        <div class="menubar">
            <header>
                <a href="/" class="logo">King Chulalongkorn Memorial Hospital</a>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Available Beds</a></li>
                    <li><a href="#">Contact</a></li>

{% if current_user.is_authenticated %}

                    <li class="dropdown" id="signInDropdown"><a href="#"><span>Welcome {{current_user.username}}</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/slotbooking">Book Slot</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>

                    </li>

{% else %}
                    <li class="dropdown" id="signInDropdown"><a href="#"><span>Sign In</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <!-- <li><a href="/signin">User Login<br></a></li> -->
                            <li><a href="/admin">Admin Login<br></a></li>
                            <!-- <li><a href="/signup">Sign Up<br></a></li> -->
                        </ul>
                    </li>
{% endif %}

                    <button Class="book">Book bed slot now</button>
                </ul>
            </header>
        </div>

        <!-- homepage -->
        <div class="home">
            <img src="static\logoh.png" id="logoh">
            <img src="static\hp1.png" id="hp1">
            <img src="static\hp2.png" id="hp2">
            <img src="static\hp3.png" id="hp3">
            <h2 id="texthp1">โรงพยาบาลจุฬาลงกรณ์ สภากาชาดไทย</h2>
            <h2 id="texthp2">Welcome</h2>
            <h2 id="texthp3">ระบบจองเตียงผู้ป่วย</h2>
            <h4 id="texthp4">สำหรับบุคลากร <br> โรงพยาบาลจุฬาลงกรณ์ สภากาชาดไทย</h4>
            <h4 id="texthp5">About us</h4>
            <h4 id="texthp6_1">กำเนิดโรงพยาบาลจุฬาลงกรณ์ สภากาชาดไทย</h4>
            <p id="texthp6_2">การจัดสร้างโรงพยาบาลจุฬาลงกรณ์แห่งสภากาชาดไทยนี้<br>ได้สำเร็จลุล่วงตามพระราชปณิธานแห่งพระมหากษัตริย์<br>
                ผู้ยิ่งใหญ่ถึง ๒ พระองค์เป็นพระวิริยะอุตสาหะ<br>อย่างต่อเนื่องเป็นเวลานานถึง ๑๘ ปี (พ.ศ. ๒๔๓๖-๒๔๕๔)<br>กว่าจะได้จัดสร้างจนสำเร็จลุล่วง</p>
            <h4 id="texthp7">โรงพยาบาลจุฬาลงกรณ์</h4>
            <p id="texthp8">สภากาชาดไทย“พระบรมราชานุสาวรีย์”<br>แห่งพระบาทสมเด็จพระปรมินทรมหาจุฬาลงกรณ์<br>พระจุลจอมเกล้าเจ้าอยู่หัว</p>
            <h4 id="texthp9">Contact us</h4>
            <p id="texthp10">Facebook<br>Instagram<br>Youtube<br>Tel</p>
        </div>

        <!-- content -->
        {% block content %}
        {% endblock %}


        <div class="copyright">
            <p>Copyright© 2023 <span id="by">BAANYANG.</span> All rights reserverd.</p>
        </div>
    </body>

</html>