<!-- -------------------------------------------------

    หน้า sign up เก่า

------------------------------------------------------>





{% extends 'basesignin.html' %}
{% block content %}


<title>Sign Up</title>
<h2 id="sign-in">Sign Up</h2>

<div id="flash-message-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash-message1 {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

<form action="/signup" method="post">

    <div class="form-group">
        <input type="emp_id" class="form-control mt-2" placeholder="Enter the employee id" name="emp_id" required>
        <input type="username" class="form-control mt-2" placeholder="Enter the username" name="username" required>
        <input type="password" class="form-control mt-2" placeholder="Enter the password" name="password" required>
    </div>

    <!-- <br>
    <button Class="sign-in2">Sign Up</button> -->
    <button type="submit" class="sign-up">Sign Up</button>
</form>
<a Class="text-warning2" href="/signin">Already have an account? Sign In here</a>

{% endblock %}
